<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>AngularJS Form Validation
    <</title>

      <link href="../../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
      <style>
        input.ng-invalid {
          background-color: #fcf8e3;
        }

        .blue {
          color: #d9edf7;
        }

        .green {
          color: #dff0d8;
        }

        .red {
          color: #f2dede;
        }
      </style>
      <script src="../../vendors/angular/angular.min.js"></script>
      <script src="app.js"></script>
      <script src="controller.js"></script>
</head>

<body ng-app="myApp" ng-controller='myController'>
  <div class="container">
    <h1>表單驗證練習(NG+HTML5)</h1>
    <ul class="list-group">
      <li class="list-group-item">
        <span class="glyphicon glyphicon-question-sign red"></span> 測試如果在model由後端更新之後，form裡面的dirty是否會重置。
      </li>
      <li class="list-group-item">
        <span class="glyphicon glyphicon glyphicon-info-sign blue"></span> model資料更新過後，form裡面的dirty是不會重置的，看起來就是只記錄form的狀態改變。
      </li>
      <li class="list-group-item">
        <span class="glyphicon glyphicon glyphicon-info-sign blue"></span> 在controller.js裡面使用$scope.masterForm.$setPristine()來做重置。
      </li>
      <li class="list-group-item">
        <span class="glyphicon glyphicon glyphicon-info-sign blue"></span> 某篇文章裡提到1.3.x之後增加$scope.masterForm.$setUntouched()，可以把表單清得更乾淨。
      </li>
      <li class="list-group-item">
        <span class="glyphicon glyphicon glyphicon-info-sign green"></span> 送出按鈕的狀態改成「表單髒掉以及內容有效」時才可以被按下。
      </li>
      <li class="list-group-item"><a href='https://www.w3schools.com/angular/angular_validation.asp' target='_blank'>參考來源</a></li>
    </ul>
    <form name="masterForm">
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">表單編號</span>
          <input type="text" name='formId' class="form-control" ng-model="masterModel.formId" required>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">電子郵件</span>
          <input type="email" name='userMail' class="form-control" ng-model="masterModel.userMail" required>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-addon">姓名</span>
          <input type="text" name='userName' class="form-control" ng-model="masterModel.userName" required>
        </div>
      </div>
    </form>
    <hr>
    <div class="alert alert-warning" ng-show='masterForm.formId.$invalid'>
      <strong>注意!</strong> 表單編號為必填欄位。
    </div>
    <div class="alert alert-warning" ng-show='masterForm.userMail.$error.required'>
      <strong>注意!</strong> 電子郵件為必填欄位。
    </div>
    <div class="alert alert-warning" ng-show='masterForm.userMail.$error.email'>
      <strong>注意!</strong> 電子郵件必須為合法郵件格式。
    </div>
    <div class="alert alert-warning" ng-show='masterForm.userName.$invalid'>
      <strong>注意!</strong> 姓名為必填欄位。
    </div>
    <div class="alert alert-danger" ng-show='!masterForm.$valid'>
      <strong>注意!</strong> 整張表單裡的所有資料驗證尚未通過，無法送出。
    </div>
    <div class="alert alert-info" ng-show='masterForm.$dirty'>
      <strong>注意!</strong> 整張表單裡的有一個或多個欄位資料被異動。
    </div>

    <button class='btn btn-primary' ng-disabled='!(masterForm.$dirty && masterForm.$valid)'>送出資料</button>
    <button class='btn btn—warning' ng-click='emulateUpdateData()'>模擬model資料更新</button>
  </div>

</body>

</html>
