<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>AngularJS Form Validation
    <</title>

      <link href="../../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
      <style>
      </style>
      <script src="../../vendors/angular/angular.min.js"></script>
      <script src="app.js"></script>
      <script src="controller.js"></script>
</head>

<body ng-app="myApp" ng-controller='myController'>
  <div class="container">
    <h1>表單驗證練習(NgRepeat Validation)</h1>
    <ul class="list-group">
      <li class="list-group-item">
        <span class="glyphicon glyphicon-question-sign red"></span> 直接在controller裡做判斷，這樣不但會讓controller越來越肥，而且這些自訂的驗證方法並不能重複利用。
      </li>
      <li class="list-group-item">
        <span class="glyphicon glyphicon glyphicon-info-sign blue"></span> 注意命名方法,在directive裡為formIdValidator，在html裡就要寫form-id-validator，否則會無法被觸發。 發現原來在input標籤裡的驗證方式是有順序的,若是先寫ng-pattern就是因為空字串通過驗證,而不會再進行required。
      </li>
      <li class="list-group-item">
        <span class="glyphicon glyphicon glyphicon-info-sign blue"></span> directive預設會帶入原本$scope的參數(scope參數為false)，所以就可以根據其他欄位來做驗證檢查。
      </li>
      <li class="list-group-item"><a href='http://exile1030-blog.logdown.com/posts/173171-validation-in-angular-way-custom-authentication-directive' target='_blank'>參考來源</a></li>
      <li class="list-group-item"><a href='http://blog.johnsonlu.org/angularjs-directive/' target='_blank'>參考來源</a></li>
      <li class="list-group-item"><a href='https://docs.angularjs.org/guide/forms' target='_blank'>參考來源</a></li>



    </ul>
    <form name="detailForm">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>姓名</th>
            <th>電子郵件</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat='m in detailModels'>
            <td>
              <input type='text' name='userName_{{$index}}' class='form-control' ng-model='m.userName' required minlength="3" />
              <span class="label label-danger" ng-show="detailForm['userName_' + $index].$error.required">必填欄位</span>
              <span class="label label-danger" ng-show="detailForm['userName_' + $index].$error.minlength">至少輸入3個字元</span>
            </td>
            <td>
              <div ng-class="['has-feedback', {'has-error':detailForm['userMail_' + $index].$invalid}]">
                <input type='email' name='userMail_{{$index}}' class='form-control has-warning' ng-model='m.userMail' required />
                <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="detailForm['userMail_' + $index].$error.required"></span>
                <span class="glyphicon glyphicon-remove form-control-feedback" ng-show="detailForm['userMail_' + $index].$error.email"></span>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

    </form>
    <hr>

    <div class="alert alert-danger" ng-show='!detailForm.$valid'>
      <strong>注意!</strong> 整張表單裡的所有資料驗證尚未通過，無法送出。
    </div>


    <div class="alert alert-warning" ng-show='masterForm.formId.$error.required'>
      <strong>注意!</strong> 表單編號為必填欄位。
    </div>
    <div class="alert alert-warning" ng-show='masterForm.formId.$error.formId'>
      <strong>注意!</strong> 表單編號必須為合法編號格式(1-4碼西元年,5-9碼是單位別[F3500],10-12是流水號)。
    </div>
    <div class="alert alert-warning" ng-show='masterForm.dept.$error.required'>
      <strong>注意!</strong> 單位為必填欄位。
    </div>
    <div class="alert alert-warning" ng-show='masterForm.dept.$error.deptAsync'>
      <strong>注意!</strong> 單位必須為合法單位(模擬AJAX檢查,測試F3500為正確)。
    </div>
    <div class="alert alert-info" ng-show='masterForm.dept.$pending.deptAsync'>
      <strong>注意!</strong> 單位資料驗證，等候伺服器回傳結果中...
    </div>
    <div class="alert alert-warning" ng-show='masterForm.userMail.$error.required'>
      <strong>注意!</strong> 電子郵件為必填欄位。
    </div>
    <div class="alert alert-warning" ng-show='masterForm.userMail.$error.email'>
      <strong>注意!</strong> 電子郵件必須為合法郵件格式。
    </div>
    <div class="alert alert-warning" ng-show='masterForm.userName.$invalid'>
      <strong>注意!</strong> 姓名為必填欄位。
    </div>
    <div class="alert alert-warning" ng-show='masterForm.personalId.$error.required'>
      <strong>注意!</strong> 身份證字號為必填欄位。
    </div>
    <div class="alert alert-warning" ng-show='masterForm.personalId.$error.pattern'>
      <strong>注意!</strong> 身份證字號為必須符合正確格式。
    </div>

    <div class="alert alert-info" ng-show='masterForm.$dirty'>
      <strong>注意!</strong> 整張表單裡的有一個或多個欄位資料被異動。
    </div>

    <button class='btn btn-primary' ng-disabled='!(detailForm.$dirty && detailForm.$valid)'>送出資料</button>
    <button class='btn btn—warning' ng-click='emulateUpdateData()'>模擬model資料更新</button>
  </div>

</body>

</html>
